@{
    ViewData["Title"] = "Products";
}
@model List<ProductViewModel>

<div class="container">
    <div class="row">
        <h3>Products here</h3>

        @if (Model.Any())
        {
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Operation</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td><img src="@product.PictureUrl" alt="" class="card-img-top img-fluid" style="width:64px;height:64px"></td>
                            <td>@product.Name</td>
                            <td>@product.Description</td>
                            <td>@product.Price</td>
                            <td><a class="btn btn-outline-warning text-warning" asp-action="UpdateProduct" asp-route-id="@product.Id">Update</a></td>
                            <td><a class="btn btn-outline-danger text-danger" asp-action="DeleteProduct" asp-route-id="@product.Id">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="bg-danger">No products found</p>
        }
    </div>
</div>